body{
    ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }    
  img {
    max-height: auto;

    max-width: 400px;
      }
  #header {
    text-size-adjust: 27px;
    text-decoration: underline;
 }     
}