@charset "UTF-8"

body{

    ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

 img {
    max-height: 150px;

    max-width: 150px;

    padding: 4px;
 }  
 
 img#QON {
    float: right;
 }


img#GARDEN {
    float: right;
}


p#HEADER {
    text-decoration-style: underline;
    font-size: 25;
}

}