body{

    ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

 img {
    max-height: 400px;

    max-width: 400px;

    padding: 4px;
 }  
 
 img#qon {
    float: right;
 }

img#garden {
    float: right;
}

p#header {
    text-decoration: underline;
}
}